header {
  height: 225px;
  background-color: lightyellow;
}

nav {
  padding-left: 10% !important;
  padding-right: 10% !important;
  width: 100%;
  font-size: xx-large;
  color: teal;
  font-weight: bold;
}

.login span {
  float: right;
  margin-right: 2%;
}


.navbar span:hover {
  color: cyan;
  cursor: pointer;
}