.content{
  border: grey solid 1px; 
  width:700px; 
  min-height:500px; 
  text-align:center; 
  background: lightgrey;
}

.head-text {
  background: cornflowerblue;
}

.btn-logout {
  position:absolute; 
  top:450px; 
  left:590px;
}


#result{
  text-align: left;
  border: 1px solid black;
  /* min-height: 15%; */
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
}

#table-result {
  border: 1px solid black;
  height: 15%;
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
  overflow: auto;
}

#result .container .row .col-6 input {
  width: 100%;
} 
#result .container .row .btn {
  margin-left: 84%;
} 