body {
  margin-left: 5%;
  margin-right: 5%;
}

content {
  padding:10px;
  display: flow-root;
  background-color: rgba(0, 0, 0, 0.05);;
  min-height: 700px;
}

#FCA-logo {
  right: 7.5%;
  position: absolute;
  top: 25%;
  width: 200px;
}
