body {
  margin-left: 5%;
  margin-right: 5%;
}

content {
  background-color: rgba(0, 0, 0, 0.05);
  padding:10px;
  display: flow-root;
  min-height: 700px;
}
.match {
  text-align: center;
}

table {
  display:table !important;
}

tr {
  background-color: white;
}

.row .col-4 span {
  font-size: xx-large;
}