body {
  margin-left: 5%;
  margin-right: 5%;
}

content {
  padding:10px;
  display: flow-root;
  background-color: rgba(0, 0, 0, 0.05);;
  min-height: 700px;
}

.row .col-4 span {
  font-size: xx-large;
}